*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}

.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 0.1fr 1fr 0.05fr;
    grid-template-areas: 
        "navBar"
        "hero"
        "foot"    
    ;
}

/*ARRANCA NAVBAR*/

.navBar{
    grid-area: navBar;
    background-color: beige;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

.navBar__h1 a{
    color: black;
    text-decoration: none;
    transition: background-color 0.5s;
}

.navBar__h1 a:hover{
    color: beige;
    background-color: rgb(84, 69, 50);
}

.navBar__ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}


.navBar__ul__li{
    margin-left: 1rem;
    transition: background-color 0.5s;
}

.navBar__ul__li:hover{
    background-color: rgb(84, 69, 50);
}

.navBar__ul__li a{
    color: black;
    text-decoration: none;    
}

.navBar__ul__li a:hover{
    color: beige;
}

/*TERMINA NAVBAR*/

/*HERO*/

.hero{
    grid-area: hero;
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.hero__h2__a{
    text-decoration: none;
    color: burlywood;
    transition: background-color 0.5s;
}

.hero__h2__a:hover{
    color: beige;
    background-color: rgb(84, 69, 50);
}

/*TERMINA HERO*/

/*ARRANCA GRIDGALERY*/

.grid-galery{
    display: grid;
    background-color: beige;
    padding-left: 1rem;
    padding-right: 1rem;
}

.grid-galery__container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20rem 20rem;
    background-color: beige;
    place-items: center;
}

.grid-galery__cards{
    padding: 0.5rem;
    text-align: center;
}

/*TERMINA GRIDGALERY*/


/*ARRANCA ABOUT*/
.foo{
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.foo__container{
    /* background-color: brown; */
    display: flex;    
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100rem;
}

.foo__container__img{
    width: 400px;    
}

.foo__container-curriculum{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foo__container__img-curriculum{
    height: 80vh;
}

.foo__container__p{
    padding-left: 1rem;
}

.foo__container__p a{
    background-color: rgb(84, 69, 50);
    display: flex;
    height: 40px;
    width: 200px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.foo__container__p a:hover{
    background-color: burlywood;
}

#back-button{
    width: 200px;
}

/*TERMINA ABOUT*/
/*ARRANCA CONTACT*/


.farewell{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.farewell__div{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 5rem;
}
.farewell__div__h3{
    font-size: 2rem;
}
.farewell__div__h2{
    font-size: 2.5rem;
}
.farewell__div__p{
    font-size: 2.2rem;
}
.email__anchor{
    color: rgb(84, 69, 50);
    transition: background-color 0.5s;
}
.email__anchor:visited{
    color: burlywood;
}
.email__anchor:hover{
    color: beige;
    background-color: rgb(84, 69, 50);
}

.container{
    width: 80%;
    padding: 20px;
    background-color: black;
}

.container h2{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    gap: 30px;
    margin-bottom: 30px;
}

.wrapper .box{
    width: 100%;
    position: relative;
    padding: 20px;
}

.wrapper .box input{
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid burlywood;
    transition: 0.2s linear;
}

.wrapper .box input:focus,
.wrapper .box input:valid{
    padding: 20px 10px;
    background-color: burlywood;
    margin-top: 10px;
}

.wrapper .box label{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    transition: 0.5s linear;
}

.wrapper .box input:focus ~ label,
.wrapper .box input:valid ~ label{
    padding: 0;
}

.wrapper .box textarea{
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid burlywood;
    transition: 0.2s linear;
    resize: none;
}

.wrapper .box textarea:focus,
.wrapper .box textarea:valid{
    padding: 20px 10px;
    background-color: burlywood;
    margin-top: 10px;
}

.wrapper .box textarea:focus ~ label,
.wrapper .box textarea:valid ~ label{
    padding: 0;
}

.container input[type="submit"]{
    color: white;
    background-color: burlywood;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/*TERMINA CONTACT*/

/*ARRANCA FOOTER*/

.foot{
    grid-area: foot;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
}

.icons{
    color: beige;
}

.icons:hover{
    color:rgb(84, 69, 50);
}

/*TERMINA FOOTER*/

/*celular*/
@media only screen and (max-width: 480px){    
    body{
        background-color: beige;
    }
    /*HOME*/
    .grid{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 140vh;
    }
    
    .navBar{
        padding-top: 5%;
        justify-content: center;
        flex-direction: column;
    }

    .navBar__h1{
        display: none;
    }

    .navBar__ul__li a{
        display: flex;
        text-align:center;
        margin-top: 1rem;
    }

    .hero{
        justify-content: center;
        font-size: 2rem;
    }

    /*TERMINA HOME*/
    /*ARRANCA PROJECTS*/

    .grid-galery{
        margin-top: 5%;
        margin-bottom: 5%;
        /* display: flex
        flex-direction: column; */
    }

    .grid-galery__container{
       /*  display: flex;
        flex-direction: column;
        place-items: center; */
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        font-size: 0.9rem;
    }

    #img1,#img2,#img3,#img4{
        width: 50%;
    }

    /*TERMINA PROJECTS*/
    /*ARRANCA ABOUT*/

    .foo{
        display: grid;
        place-items: center;
    }

    .farewell__div__h3{
        font-size: 1.4rem;
    }
    .farewell__div__h2{
        font-size: 1.6rem;
    }
    .farewell__div__p{
        font-size: 1.2rem;
    }

    .foo__container{
        /* background-color: brown; */
        width: 90vw;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        place-items: center;
    }

    .foo__container__img{
        padding-bottom: 1rem;
        height: 10rem;
        width: 35%;
    }

    .foo__container-curriculum{
        display: grid;
        place-items: center;
    }

    .foo__container__img-curriculum{
        width: 90%;
        padding-bottom: 2rem;
    }

    /*TERMINA ABOUT*/
    /*CONTACT*/
    .farewell__div{
        margin-bottom: 2rem;
    }
    /*TERMINA CONTACT*/
    /*FOOTER*/
    .foot{
        display: flex;
        height: 5%;
        justify-content: space-around;
        align-items: center;
        background-color: burlywood;
    }
}

/*tablet*/
@media only screen and (min-width:481px) and (max-width: 1023px){

    body{
        background-color: beige;
    }

    /*HOME*/
    .grid{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 140vh;
    }
    
    .navBar{
        font-size: 1.2rem;
        padding-top: 2%;
        justify-content: center;
        flex-direction: column;
    }

    .navBar__h1{
        display: none;
    }

    .navBar__ul__li a{
        display: flex;
        text-align:center;
        margin-top: 1rem;
    }

    .hero{
        justify-content: center;
        font-size: 2.5rem;
    }

    /*TERMINA HOME*/
    /*ARRANCA PROJECTS*/
    .grid-galery{
        display: grid;
        background-color: beige;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
    }
    
    .grid-galery__container{
        display: flex;
        flex-direction: column;
        background-color: beige;
        place-items: center;
    }
    
    .grid-galery__cards{
        padding: 0.5rem;
        text-align: center;
        width: 50%;
    }

    #img1,#img2,#img3,#img4{
        width: 60%;
    }

    /*TERMINA PROJECTS*/
    /*ARRANCA ABOUT*/

    .foo{
        display: grid;
        place-items: center;
    }
    .foo__container{
        /* background-color: brown; */
        width: 90vw;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        place-items: center;
    }

    .foo__container__img{
        padding-bottom: 1rem;
        height: 30rem;
        width: 50%;
    }

    .foo__container-curriculum{
        display: grid;
        place-items: center;
    }

    .foo__container__img-curriculum{
        width: 80%;
        padding-bottom: 2rem;
    }

    /*TERMINA ABOUT*/
    /*ARRANCA CONTACT*/

    .farewell__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 30rem;
        grid-template-areas: 
            "farewell__div"
            "farewell__form"        
        ;
    }
    .farewell__div{
        grid-area: farewell__div;
        display: grid;
        color: rgb(0, 0, 0);
    }
    
    .farewell__form{
        grid-area: farewell__form;
        display: grid;
        color: beige;        
        background-color: rgb(84, 69, 50);
        border-radius: 5px;    
        box-shadow: 5px 5px 1px burlywood;
    }


    /*TERMINA CONTACT*/
    /*FOOTER*/
    .foot{
        display: flex;
        height: 5%;
        justify-content: space-around;
        align-items: center;
        background-color: burlywood;
    }
}
